
<div class="car-company-list">
  <h2>DANH SÁCH HÃNG XE</h2>

  <!-- Button for creating a new car company -->
  <div class="row mb-3">
    <div class="col text-right">
      <!-- Button for creating a new car company -->
      <button class="btn btn-success" type="button" (click)="onCreate()">Tạo Hãng Xe</button>
    </div>
  </div>
  <!-- Display the list of car companies if available -->
  <div *ngIf="carCompanies.length > 0">
    <table class="table table-striped table-bordered">
      <thead class="thead-dark">
        <tr>
          <th>STT</th>
          <th>Hình ảnh</th>
          <th>Tên hãng</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <!-- Loop through each car company -->
        <tr *ngFor="let company of carCompanies; let i = index" class="car-company-item">
          <td>{{ i + 1 }}</td>
          <td>
            <!-- Display company logo -->
            <img [src]="'http://192.168.56.1:9000/' + company.logo" alt="{{ companyData.name }} Logo" class="car-company-logo img-fluid">
          </td>
          <td>
            <!-- Display company name -->
            <span class="car-company-name">{{ company.name }}</span>
          </td>
          <td>
            <!-- Button to navigate to update page -->
            <button class="btn btn-primary mr-2" [routerLink]="['/admin/car-company/update', company.id]">Cập nhật</button>
            <!-- Button to delete company -->
            <button class="btn btn-danger" (click)="onDelete(company.id)">Xoá</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Display a message if no car companies available -->
  <div *ngIf="carCompanies.length === 0">
    <p class="text-muted">Bạn phá sản rồi hả. Mau thêm mới sản phẩm đi</p>
  </div>
</div>
