<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1,maximum-scale=1"
    />
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="./admin-layout.component.css" />
    <link
      rel="stylesheet"
      href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css"
    />
  </head>
  <body>
    <input type="checkbox" id="menu-toggle" />
    <div class="sidebar">
      <div class="side-header">
        <h3>WebCar</h3>
      </div>

      <div class="side-content">
        <div class="profile">
          <div
            class="profile-img bg-img"
            style="background-image: url()"
          ></div>
          <h4>UserName</h4>
          <small>Roles</small>
        </div>

        <div class="side-menu">
          <ul>
            <li>
              <a href="">
                <span class="las la-user-alt"></span>
                <small>Users</small>
              </a>
            </li>
            <li>
              <a [routerLink]="['/admin/car-company']" routerLinkActive="active">
                <span class="las la-building"></span>
                <small>CarCompany</small>
              </a>
            </li>
            <li>
              <a [routerLink]="['/admin/car']" routerLinkActive="active">
                <span class="las la-car"></span>
                <small>Car</small>
              </a>
            </li>
            <li>
              <a href="">
                <span class="las la-shopping-cart"></span>
                <small>Orders</small>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="main-content">
      <header>
        <div class="header-content">
          <label for="menu-toggle">
            <span class="las la-bars"></span>
          </label>

          <div class="header-menu">
            <label for="">
              <span class="las la-search"></span>
            </label>

            <div div class="user">
              <div
                class="bg-img"
                style="background-image: url()"
              ></div>
              <button class="logout-button" (click)="onLogout()">
                <span class="las la-power-off"></span>
                <span>Logout</span>
              </button>
            </div>
          </div>
        </div>
      </header>
      <main>
        <router-outlet></router-outlet>
      </main>
    </div>
  </body>
</html>
