<div class="user-list">
  <h2>DANH SÁCH TÀI KHOẢN</h2>
  <!-- <div class="row justify-content-end">
    <div class="col-6 text-right">
      <div class="dropdown">
        <button class="btn btn-primary dropdown-toggle" type="button" id="statusDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select Role
        </button>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="statusDropdown">
          <button class="dropdown-item" (click)="getUserByRole('USER')">User</button>
          <button class="dropdown-item" (click)="getUserByRole('ADMIN')">Admin</button>
        </div>
      </div>
    </div>
  </div> -->
  <div *ngIf="Users.length > 0">
    <table class="user-table">
      <thead>
        <tr>
          <th>STT</th>
          <th>Họ</th>
          <th>Tên</th>
          <th>Tài khoản</th>
          <th>Email</th>
          <th>Quyền</th>
          <th>Hành động</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of Users; let i = index" class="user-row">
          <td>{{ i + 1 }}</td>
          <td>{{ user.firstName }}</td>
          <td>{{ user.lastName }}</td>
          <td>{{ user.userName }}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.role }}</td>
          <td>
            <ng-container *ngIf="user.role =='USER'">
              <button (click)="makeAdmin(user.userName)" class="btn btn-primary">MAKE ADMIN</button>
            </ng-container>
            <ng-container *ngIf="user.role =='ADMIN'">
              <button (click)="makeUser(user.userName)" class="btn btn-primary">MAKE USER</button>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="Users.length === 0">
    <p class="no-users">Không có tài khoản nào</p>
  </div>
</div>
