<div class="container">
  <div *ngIf="car" class="row">
    <!-- Car details column -->
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>{{ car.ten }}</h2>
        </div>
        <div class="card-body">
          <!-- Carousel -->
          <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
              <div *ngFor="let image of car.hinh; let i = index" class="carousel-item" [class.active]="i === 0">
                <img [src]="'http://192.168.56.1:9000/'+image" class="d-block w-100" alt="Car Image">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Trước</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Sau</span>
            </a>
          </div>
          <!-- Car details -->
          <p><strong>Phiên bản: </strong> {{ car.phienBan }}</p>
          <p><strong>Giá tiền: </strong> ${{ car.gia }} VNĐ</p>
          <p><strong>Năm sản xuất:</strong> {{ car.namSanXuat }}</p>
          <p><strong>Dung tích:</strong> {{ car.dungTich }} L</p>
          <p><strong>Hộp số:</strong> {{ car.hopSo }}</p>
          <p><strong>Kiểu dáng:</strong> {{ car.kieuDang }}</p>
          <p><strong>Tình trạng:</strong> {{ car.tinhTrang }}</p>
          <p><strong>Nhiên liệu:</strong> {{ car.nhienLieu }}</p>
          <p><strong>Kích thước:</strong> {{ car.kichThuoc }} m</p>
          <p><strong>Số ghế:</strong> {{ car.soGhe }} Ghế</p>
          <p><strong>Hãng xe: </strong> {{ getCarCompanyName(car) }}</p>
          <!-- Button to show order form -->
          <div class="row">
            <div class="col-md-6">
              <button class="btn btn-primary mt-3" (click)="back()">Quay lại</button>
            </div>
            <div class="col-md-6">
              <button class="btn btn-primary mt-3" (click)="showOrderForm()">Đặt hàng</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Order form column -->
    <div class="col-md-6">
      <div *ngIf="showForm" class="card mt-3">
        <div class="card-header">
          <h2>Đặt hàng</h2>
        </div>
        <div class="card-body">
          <app-order [car]="car"></app-order>
        </div>
      </div>
    </div>
  </div>
</div>
