<div class="parent">
  <div class="container">
    <div class="update-company-box">
      <h2>Update Car Company</h2>
      <form>
        <div class="name">
          <input type="text" [(ngModel)]="companyData.name" name="name" required>
          <label>Name</label>
        </div>
        <div class="input-box">
          <label for="logoInput" class="file-label">Upload New Logo</label>
          <input type="file" id="logoInput" accept="image/*" class="file-input" (change)="onFileSelected($event)">
          <span class="file-custom"></span>
        </div>
        <div class="preview-box" *ngIf="companyData.logo">
          <h3>Current Logo Preview</h3>
          <img [src]="companyData.logo" alt="Current Logo Preview">
        </div>
        <div class="button-group">
          <!-- Style for the Submit button -->
          <button type="button" class="btn" (click)="updateCompany()">Update</button>
          <!-- Style for the Back button -->
          <button type="button" class="btn" (click)="back()">Back</button>
        </div>
      </form>
    </div>
  </div>
</div>
